body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #202124;
    padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
}

@keyframes vertical-shaking {
    0% { transform: translateY(0) } 
    50% { transform: translateY(-5px) } 
    100% { transform: translateY(0) }
}



header {
    border-bottom:2px solid #007BC7;
}

.question {
    margin: 50px auto;
    font-size: 1.3em;
    color:navy;
    max-width: 80%;
}

.main-content {
  max-width: 1280px;
  margin: auto;
}

.option {
    font-size: 1.1em;
    margin: 5px auto;
    border:1px solid #ccc;
    width: 80%; 
    padding: 10px 0;
    border-bottom-width: 2px;
    cursor: pointer;
}

.option.isCorrect {
    background-color: mediumseagreen;
    color:white;
    animation: vertical-shaking 0.9s infinite;
}

.option.isIncorrect {
    background-color: crimson;
    color:white;
    animation: horizontal-shaking 0.3s infinite;
}

.questions-number-input {
  color: blue;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.question-sources-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: max-content;
  margin: auto;
}

.question-config-percentage {
  border:2px solid #666;
  display: inline-block;
  padding: 10px;
}

.next-question {
    font-size: 2em;
    cursor: pointer;
    margin-top: 50px;
    
}

.pager {
    font-size: 2em;
    margin-bottom: 30px;
    color:#333;
}

.results-screen {
    font-size: 2em;
    margin: 20px auto;
}

.sourceLink + .sourceLink {
    border-left: 1px solid #ccc;
    padding-left: 5px;
    margin-left: 5px;
}

.switch {
  display: inline-block;
  border: none;
  border-radius: 4px;
  width: 50px;
  padding: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.switch:hover {
  filter: brightness(.9);
}

.question-source {
    font-size: 0.6em;
    color:#999;
}