body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #202124;
    padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
    border-bottom:2px solid #007BC7;
}

.question {
    margin: 50px auto;
    font-size: 1.3em;
    color:navy;
    max-width: 80%;
}

.option {
    font-size: 1.1em;
    margin: 5px auto;
    border:1px solid #ccc;
    width: 80%; 
    padding: 10px 0;
    border-bottom-width: 2px;
    cursor: pointer;
}

.option.isCorrect {
    background-color: mediumseagreen;
    color:white;
}

.option.isIncorrect {
    background-color: crimson;
    color:white;
}

.next-question {
    font-size: 2em;
    cursor: pointer;
    margin-top: 50px;
    
}

.pager {
    font-size: 2em;
    margin-bottom: 30px;
    color:#333;
}

.results-screen {
    font-size: 2em;
    margin: 20px auto;
}

.sourceLink + .sourceLink {
    border-left: 1px solid #ccc;
    padding-left: 5px;
    margin-left: 5px;
}